[submodule "lib/powerline"]
	path = lib/powerline
	url = https://github.com/Dewdrops/powerline.git
[submodule "lib/monokai-emacs"]
	path = lib/monokai-emacs
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
[submodule "lib/helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm
[submodule "lib/async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
